<%- include("partials/header"); -%>

    <h1>About</h1>
    <p>Welcome to my blog!<br><br>I am a software engineer and wildlife enthusiast who loves to write about technology,
        creativity, and the natural world. I hope you will join me on my journey of exploration and discovery.

        In my blog, you will find technical insights, captivating stories, and creative inspiration. I will share
        my knowledge and experiences with you, and I hope to spark your imagination and curiosity. <br><br>

        Thank you for being a part of this journey!</p>
        

    <%- include("partials/footer"); -%>